.banner {
    width: 1200px;
    height: 360px;
    margin: 150px auto;
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 56px;
    font-family: Russ;
    margin-bottom: 40px;
}

.description {
    font-size: 24px;
    font-family: ABZ;
    margin-bottom: 60px;
}

.title, .description {
    color: white;
    text-align: left;
}

button {
    width: 250px;
    height: 60px;
    background-color: #00C7FE;
    border: none;
    color: white;
    font-family: Rubik;
    font-weight: 800;
    font-size: 24px;
    border-radius: 40px;
    cursor: pointer;
}

button:hover {
    background-color: #009BC6;
}

.aboutUs {
    width: 1300px;
    height: 500px;
    margin: 100px auto 0 auto;
}

h1 {
    font-family: Rubik;
    font-size: 50px;
    text-align: center;
    font-weight: 800;
    color: white;
    margin-bottom: 50px;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    width: 280px;
    height: 450px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 20px;
}

h3, p {
    color: white;
    font-family: Rubik;
    text-align: center;
}

hr {
    width: 250px;
    margin: 20px auto;
    border-color: #00B0E0;
}

.services {
    width: 730px;
    height: 1740px;
    margin: 150px auto;
}

.imagePoint {
    width: 280px;
    height: 190px;
}

.points {
    width: 730px;
    height: 200px;
    display: flex;
    justify-self: center;
    align-items: center;
    border: 3px solid #1900FF;
    border-radius: 50px 0;
    margin-top: 20px;
}


.text {
    padding: 10px 30px;
    background-color: transparent;
}

h2 {
    font-family: Rubik;
    font-weight: 400;
    font-size: 30px;
    color: white;
}

.desc {
    text-align: left;
    font-family: Rubik;
    font-weight: 100;
    margin-top: 10px;
}

.btn {
    background-color: transparent;
    border: 3px solid #1900FF;
    border-radius: 30px;
    margin: 50px 260px;
}

.packageOfServices {
    width: 960px;
    height: 1035px;
    margin: 0 auto;
}

.packageBlock {
    width: 960px;
    height: 370px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.package {
    width: 300px;
    height: 370px;
    background-color: transparent;
    border: 3px solid #1900FF;
    border-radius: 30px;
}

.btnTwo {
    background-color: transparent;
    border: 3px solid #1900FF;
    border-radius: 30px;
    margin: 50px 355px;
}

.special_suggestion {
    background-image: url("/aition/public/img/fon.png");
    width: 1440px;
    height: 504px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

.special_suggestion > h1 {
    font-size: 60px;
    font-family: Rubik, sans-serif;
    font-weight: 600;
    color: rgba(24, 0, 247, 1);
    margin-bottom: 66px;
}

.special_suggestion > p {
    font-family: Rubik, sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #ffffff;
}

.special_suggestion > button {
    width: 200px;
    height: 60px;
    border-radius: 30px;
    background-color: rgba(49, 27, 255, 1);
    color: #ffffff;
    font-family: Rubik, sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 70px;
    cursor: pointer;
    outline: none;
}

.buy_orders {
    font-family: Rubik, sans-serif;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
}

.orders {
    background-image: url("/aition/public/img/fon2.png");
    width: 1440px;
    height: 650px;
    margin: 50px auto;
    padding: 50px 0 0 60px;
}

.info {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.info > p {
    font-family: Rubik, sans-serif;
    font-size: 15px;
    color: #ffffff;
    margin-left: 15px;
}

.form input {
    border: 1.24px solid rgba(25, 0, 255, 1);
    outline: none;
    background: none;
    padding: 20px;
    width: 400px;
    height: 50px;
    margin-bottom: 20px;
    color: white;
    font-size: 20px;
}

.form input::placeholder {
    font-family: Rubik, sans-serif;
    font-weight: 400;
    color: white;
    font-size: 15px;
    opacity: 70%;
}

.form button {
    border: 1.24px solid rgba(25, 0, 255, 1);
    width: 120px;
    height: 40px;
    background: none;
    outline: none;
    border-radius: 126px;
    color: white;
    font-size: 15px;
    font-family: Rubik, sans-serif;
    font-weight: 400;
    cursor: pointer;
    margin-top: 3px;
}
.form > p {
    font-family: Rubik, sans-serif;
    font-size: 7px;
    color: white;
    font-weight: 400;
}

.form {
    position: absolute;
    left: 1100px;
    top: 5050px;
    width: 600px;
    height: 550px;
    border: 1px solid rgba(25, 0, 255, 1);
    box-shadow:
            0 0 8.4px rgba(25, 0, 255, 0.8),
            0 0 16.8px rgba(25, 0, 255, 0.6),
            0 0 58.8px rgba(25, 0, 255, 0.4),
            0 0 117.6px rgba(25, 0, 255, 0.2),
            0 0 201.6px rgba(25, 0, 255, 0.1),
            0 0 250px rgba(25, 0, 255, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.wrapper {
    display: flex;
    align-items: start;
}

.form h1 {
    color: white;
    margin: 25px 0 30px 0;
    font-family: Rubik, sans-serif;
    text-align: center;
    font-weight: 5;
}