@font-face {
    src: url("shared/fonts/Rubik-Regular.ttf");
    font-family: Rubik;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    margin: 0 auto;
}